# Exclude contents of .files//db/dumps
files/db/dumps/*
!files/db/dumps/.gitkeep

# Exclude contents of ./files/web/logs
files/web/logs/*
!files/web/logs/.gitkeep

# Exclude contents of ./web/code
web/code/*
!web/code/.gitkeep
